div.products-page {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    width: 22rem;
}

div.products-page .product-list-item {
    border: 1px solid darkblue;
    width: 20rem;
    margin: 1rem;
}

div.products-page a,
div.products-page a:hover,
div.products-page a:visited,
div.products-page a:active {
    text-decoration: none;
    color: black;
}